*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #ffffff;
}
h3{
    font-weight: bold;
    margin: 9px 0px 22px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}
.header .nav-links {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;

}
#hero-section{
    justify-content: space-between;
}
.container a{
    text-decoration: none;
    color: black;
}
.home-img{
    width: 350px;
    height: 426px;
}
.buy-btn{
    background-color: #0250C5;
    color: #ffffff;
    padding: 10px 30px;
    border-style: none;
    border-radius: 5px;
}
.about{
    text-align: center;
}
.about i{
    font-size: 39px;
}
.box    {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 27px 25px 35px;
    box-shadow: 0px 30px 20px 0px rgba(0, 37, 93, 0.15);
}
.box :hover{
    background: linear-gradient(to right, #3b26db, #7b19cb);
    transition: 0.5s;
}
.text{
    width: 300px;
    height: 78px; 
}
img{
    width: 100%;
}
.feature-box{
    margin-bottom:30px ;
    display: flex;
}
.features i{
    font-size: 39px;
}


.products-box {
    position: relative;
    width: 540px;
    height: 486px;
    background-image: url('/assets/image/video.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.products-box .overlay {
    background-image: linear-gradient(55deg, #0250c5 0%, #d43f8d 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    opacity: 0.5;
    border-radius: 5px;
}

.products-box .play-icon {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    width: 70px;
    border-radius: 50%;
    height: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transform: translate(-50%, -50%);
    animation-name: pulse-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.products-box .play-icon i {
    font-size: 25px;
    background: linear-gradient(to right, #3b26db, #7b19cb);
    background-clip: text;
    -webkit-text-fill-color: transparent;
 
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
}
.products{
    text-align: center;
}
.section-tittle{
    text-align: center;
    padding: 0px 15px;
    height: 182px;
    width: 760px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.products p{
    height: 52px;
    width: 650px;
    margin: 0px 40px;
}